.title{
      margin: 50px;
}

.employee{
  width: 20%;
  margin: 10px 5px;
  text-transform: capitalize;
  text-align: center;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.locinfo{
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  color: ;
}

.name{
  border-bottom: 2px solid #65BA92;
}


.email{
  color: rgb(179, 179, 179);
  text-transform: uppercase;
  font-size: 14px;
}

img{
 width: 100%;
}

li{
  margin: 5px;
  color: rgb(106, 106, 106);
}

#ssn{
  color: #65BA92;
}
